.header {
    display: flex;
    justify-content: center;
    background-color: var(--gray--800);
    color: #ffffff;
    height: 80px;
    font-size: 18px;
    padding: 1.25rem 0;
}

.header strong {
    text-align: center;
    padding: 7px;
}

.header img {
    height: 2rem;
}